
.content_section {
	position: relative;
}
.content_section__header {
	background: #ddd;
	width: 100%;
	z-index: 1000;
	padding: 10px;
}
.content_section:hover .content_section__header {
	display: block;
}


.content_block {
	position: relative;
}
.content_block__header {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	background: #ddd;
	z-index: 1100;
	text-align: right;
}
.content_block:hover .content_block__header {
	display: block;
}